* {
    box-sizing: border-box;
    text-decoration: none;
    
}

body {
    background: linear-gradient(180deg, #afe7f9, #bbeafa, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff);
    font-family: Arial, Helvetica, sans-serif;
    border: 5px solid black;
}

.question {
    position: relative;
    top: -20px;
    left: 60%;
}

.titulo {
    font-weight: 150;
    margin-left: 2%;
}

.ema, .sen {
    margin-left: 6%;
    width: 320px;
    padding: 8px;
    margin-bottom: 3%;
    border: 1px solid gray;
    border-radius: 4px;
}

.rodape-pagina {
    display: flex;
}

.row {
    display: flex;

} 

.rodape {
display:flex;
background-color: white;
bottom: 0;
left: 0;
right: 0;
height: 100px;
width: 100%;
border-top: 1px solid white;
justify-content: left;
align-items:center;
color: gray;
gap: 7px;
text-align: right;
margin-left: 5%;
}

.msn-logo {
    margin-left: 70%;
    margin-bottom: 80%;
}

.inscreva-se {
    text-align: left !important;
    margin-left: 28%;
}

button {
    margin-right: 7%;
    border: 4px solid aliceblue;
    background-color: #e6e6e7;
    font-size: 20px;
    border-radius: 8px;
}

.entrar-como {
    text-align: left !important;
    margin-left: 29%;
}

.recup-senha {
    margin-right: 18%;
}

select {
    border: none;
    background-color: transparent;
}










